<div class = "container">
  <h1>List of cars</h1>

  <% @cars.each do|car| %>
    <div class = "card">
      <%= car.brand  %>
      <%= car.model  %>
      <%= car.year  %>
      <%= car.fuel  %>
      <%= link_to "show car", car_path(car) %>
    </div>
  <% end %>

  <%= link_to "Favorites", favorites_path  %>

  </div>
